= fa_icon "check"
%h1 Welcome, #{@user.name}! It's great to see you here.
.text 
  Spread the #{@city} user group love on Twitter.
= render "twitter_share_button"

%br
%br

.text-left.text{style: "margin-bottom: 5px"}= render "shared/back_link"