= fa_icon "check"
%h1 Welcome, #{@user.name}! It's great to see you here.
.text 
  Spread the #{@city} user group love on Twitter.
= render "twitter_share_button"
.text We keep the conversation going on Slack. Pull up a chair.
= link_to "https://splunk-usergroups.slack.com", target: "_blank" do 
  = image_tag "https://slack.global.ssl.fastly.net/895d/img/landing_slack_hash_wordmark_logo_@2x.png", style: "width: 50%;"